In [10]:
# (1) Write a python script to store multiple items in a single variable. (Items are "JAVA","PYTHON","SQL","C") USIND TUPLE

tuple_1 = ("JAVA","PYTHON","SQL","C")

print(type(tuple_1))

<class 'tuple'>

In [11]:
# (2) Write a python program to store only one item using tuple.

tuple_1 = ("JAVA",)

print(type(tuple_1))

<class 'tuple'>

In [13]:
# (3) Write a python to reverse the tuple.

tuple_1 = ("JAVA","PYTHON","SQL","C")

print(tuple_1[::-1])

('C', 'SQL', 'PYTHON', 'JAVA')

In [19]:
# (4) Write a python program to swap two tuples in python.

tuple_1 = ('C', 'SQL', 'PYTHON', 'JAVA')
tuple_2 = ("JAVA","PYTHON","SQL","C")

tuple_2, tuple_1 = tuple_1, tuple_2

print("tuple_1 = ",tuple_1)
print("tuple_2 = ",tuple_2)

tuple_1 =  ('JAVA', 'PYTHON', 'SQL', 'C')
tuple_2 =  ('C', 'SQL', 'PYTHON', 'JAVA')

In [23]:
# (5) Write a python prgram to check if all items in the tuple are the same.

tuple_1 = ('Mon','Mon','Mon','Mo')

result = tuple_1.count(tuple_1[0]) == len(tuple_1)

if (result):
   print("All the elements are Equal")
else:
   print("Elements are not equal")

Elements are not equal

In [1]:
# (6) Write a python program to divide the tuple variables.

tuple_1 = (100,200,300,400)

for i in tuple_1:
    print(i/2)

50.0
100.0
150.0
200.0

In [6]:
# (7) Write a python program to copy elements 4 and 5 from the following tuple into a new tuple.

tuple_1 = (1,2,3,4,5,6,)

tuple_2 = tuple_1[3:-1]

print(tuple_2)

(4, 5)

In [11]:
#(8) Write a python program to sort a tuple of tuples by the second item.

tuple_1 = (('a',21),('c',37),('b',11),('d',29))

tuple_2 = sorted(tuple_1)

print(tuple_2)

[('a', 21), ('b', 11), ('c', 37), ('d', 29)]

In [21]:
# (9) Write a python program to change the first item (22) of a list within thr followinng tuple to 222.

tuple_1 = (11,[22,33],44,55)

tuple_2 = list(tuple_1)

tuple_2[1][0] = 222

tuple_1 = tuple(tuple_2)

print(tuple_1)

(11, [222, 33], 44, 55)

In [24]:
# (10) Write a python program to print the vallue 20 from the given nested tuple.

tuple_1 = ("Python",[100,20,30],(2,4,16))

print(tuple_1[1][1])

20