In [14]:
# (1) Write a python program to store all the programming languages known to you using set.

my_set = {"Python","JAVA","C","C++","SQL"}

print(my_set)

{'C', 'C++', 'Python', 'JAVA'}

In [15]:
# (2) Write a python program to store your own information.

my_detail = {"name=vikas","age=23","gender=male","roll=56","divisio=B"}

print(my_detail)

{'name=vikas', 'roll=56', 'age=23', 'divisio=B', 'gender=male'}

In [16]:
# (3) Write a python script to get a data type of a set.

name = set(input("Enter your name:"))

print(type(name))

Enter your name:vikas
<class 'set'>

In [21]:
# (4) Write a python script to find if "Python" is present in the set thisset = {"JAVA","Python","Django"}

thisset = {"JAVA","Python","Django"}

print("Python" in thisset)

True

In [22]:
# (5) Write a python program to add items from another set to the current set. thisset = {"JAVA","Python","SQL"}

thisset = {"JAVA","Python","SQL"}

new_set = thisset

print(new_set)

{'SQL', 'Python', 'JAVA'}

In [35]:
# (6) Write a python program to add elements of list to a set.

thisset = {"JAVA","Python","SQL"}
mylist = ["JAVA","C"]

thisset.update(mylist)
print(thisset)

{'SQL', 'C', 'Python', 'JAVA'}

In [37]:
# (7) Write a python program to remove last item of the given set.

thisset = {"python","Django","JavaScript","SQL"}
thisset.remove("SQL")

print(thisset)

{'python', 'JavaScript', 'Django'}

In [1]:
# (8) Write a python program to delete the set completely.

thisset = {"python","Django","JavaScript","SQL"}

thisset.clear()
print(thisset)

set()

In [2]:
# (9) Write a python program to loop through the set and print values.

thisset = {"Python","Django","Jvascript","SQL"}

for value in thisset:
    print("value thisset:",value)

value thisset: SQL
value thisset: Jvascript
value thisset: Django
value thisset: Python

In [3]:
# (10) Write a python program to find the maximmum and minimum value in a set.

num_set = {1,2,3,4,5,6,7,8,9}
print("The maximum value of set is",max(num_set))
print("The minimum value of set is",min(num_set))

The maximum value of set is 9
The minimum value of set is 1