In [6]:
# (1) Write a python script to print VIKAS 5 times on the screen.

name = "VIKAS"
i=1
while i<=5:
    print(i,name)
    i += 1

1 VIKAS
2 VIKAS
3 VIKAS
4 VIKAS
5 VIKAS

In [1]:
# (2) Write a python script to print first 10 natural numbers.

i = 1

while i<=10:
    print(i,end=" ")
    i+=1

1 2 3 4 5 6 7 8 9 10

In [2]:
# (3) Write a python script to print first 10 natural numbers in revers order.

i = 10

while i>=1:
    print(i,end=" ")
    i-=1

10 9 8 7 6 5 4 3 2 1

In [3]:
# (4) Write a python script to print first 10 odd numbers.

i = 1

while i<=20:
    print(i,end=" ")
    i+=2

1 3 5 7 9 11 13 15 17 19

In [4]:
# (5) Write a python script to print first 10 odd numbers in revers order.

i = 20

while i >= 1:
    if i%2 != 0:
        print(i,end=" ")
    i -= 1

19 17 15 13 11 9 7 5 3 1

In [5]:
# (6) Write a python script to print first 10 even natural numbers.

i = 2

while i<=20:
    print(i,end=" ")
    i+=2

2 4 6 8 10 12 14 16 18 20

In [6]:
# (7) Write a python script to print first 10 even natural numbes in revers order.

i = 20

while i >= 1:
    print(i,end=" ")
    i -= 2

20 18 16 14 12 10 8 6 4 2

In [22]:
# (8) Write a python script to print square of first 10 natural numbers.

i = 1

while i <= 10:
    print(i," ** ", 2,"=",i**2)
    i += 1

1  **  2 = 1
2  **  2 = 4
3  **  2 = 9
4  **  2 = 16
5  **  2 = 25
6  **  2 = 36
7  **  2 = 49
8  **  2 = 64
9  **  2 = 81
10  **  2 = 100

In [24]:
# (9) Write a python script to print cubes of first 10 natural numbers.

i = 1

while i <= 10:
    print(i," ** ",3,"=",i**3)
    i += 1

1  **  3 = 1
2  **  3 = 8
3  **  3 = 27
4  **  3 = 64
5  **  3 = 125
6  **  3 = 216
7  **  3 = 343
8  **  3 = 512
9  **  3 = 729
10  **  3 = 1000

In [8]:
# (10) Write a python script to print first 10 multiple of five.

i = 0

while i <= 10:
    print(i*5,end=" ")
    i += 1

0 5 10 15 20 25 30 35 40 45 50

In [ ]:
1000