In [9]:
# (1) Write a python script to print VIKAS N times on the screen.

A = int(input("Enter a Number:"))
B = "VIKAS"

for i in range(A):
    print(B,end=", ")

Enter a Number:5
VIKAS, VIKAS, VIKAS, VIKAS, VIKAS,

In [16]:
# (2) Write a python script to print first N natural numbers.

A = int(input("Enter a number:"))

for i in range (1,A):
    print(i,end=", ")

Enter a number:11
1, 2, 3, 4, 5, 6, 7, 8, 9, 10,

In [12]:
# (3) Write a python script to print first N natural numbers in revers order.

A = int(input("Enter a number:"))
i = 0

for i in range (i,A):
    print(A-i,end=", ")

Enter a number:5
5, 4, 3, 2, 1,

In [63]:
# (4) Write a python script to print first N odd numbers.

maximum = int(input(" Please Enter any Maximum Value : "))

for maximum in range(1, maximum+1,2):
        print(maximum,end=" ")

 Please Enter any Maximum Value : 16
1 3 5 7 9 11 13 15

In [64]:
# (5) Write a python script to print first N odd numbers in revers order.

A = int(input("Please enter a number: "))
i = 1
B = A*2

for i in range(1,B,2):
    print(B-i,end=" ")

Please enter a number: 13
25 23 21 19 17 15 13 11 9 7 5 3 1

In [58]:
# (6) Write a python script to print first N even natural numbers.

num = int(input("Enter a number: "))
B = num*2
i=1

for B in range(0,B+1,2):
        print(B,end=" ")

Enter a number: 16
0 2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32

In [69]:
# (7) Write a python script to print first N even number in revers order.

num = int(input("Enter a number: "))
i = 0
A = num*2

for i in range(0,A+1,2):
    print(A-i,end=" ")

Enter a number: 5
10 8 6 4 2 0

In [74]:
# (8) Write a python script to print square of first N natural number.

num = int(input("Enter a number: "))
i = 1

for i in range(1,num+1):
    print(i**2)

Enter a number: 5
1
4
9
16
25

In [76]:
# (9) Write a python script to print cubes of first N natural numbers.

num = int(input("Enter a number: "))
i = 1

for i in range(1,num+1):
    print(i**3)

Enter a number: 5
1
8
27
64
125

In [77]:
# (10) Write a python script to print first Ten multiple of Nq

num = int(input("Enter a number: "))
i = 1

for i in range(1,num+1):
    print(i*num)

Enter a number: 5
5
10
15
20
25